<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Treasure Hunt - Logout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .jumbotron {
            background-color: #f1f1f1;
        }
        .btn-primary {
            background-color: #4CAF50;
            border-color: #4CAF50;
        }
        .btn-primary:hover {
            background-color: #3e8e41;
            border-color: #3e8e41;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Treasure Hunt</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Jumbotron -->
    <div class="jumbotron text-center">
        <h1>Are you sure you want to log out?</h1>
        <a href="{% url 'home' %}">
        <button type="button" class="btn btn-primary" id="logout-btn">Logout</button></a>
    </div>
    
    <!-- Footer -->
    <footer class="container-fluid text-center">
        <p>&copy; 2023 Treasure Hunt. All rights reserved.</p>
    </footer>
    
    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#logout-btn').click(function() {
                // send AJAX request to logout.php to clear session
                $.ajax({
                    url: 'logout.php',
                    type: 'POST',
                    success: function(data) {
                        // redirect to login page
                        window.location.href = 'login.php';
                    }
                });
            });
        });
    </script>
</body>
</html>
